<% if (Array.isArray(opt.banners) && opt.banners.length) { %>
  <% const colSize = Math.ceil(12 / opt.banners.length) %>
  <div class="banners-grid mt-solucoes-grid my-3 my-md-4 my-lg-5" id="<%= opt.identificador %>">
    <div class="container">
      <ul>
        <% for (let i = 0; i < opt.banners.length; i++) { %>
          <li>
            <%- await include('@/sections/inc/banner-mt', { _, opt: opt.banners[i] }) %>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
<% } %>

