<% if (Array.isArray(opt.banners) && opt.banners.length) { %>
    <% const colSize = Math.ceil(12 / opt.banners.length) %>
    <div class="banners-grid mt-solucoes-grid <%= opt.classe %>">
      <div class="container">
        <% for (let i = 0; i < opt.banners.length; i++) { %>
          <%- await include('@/sections/inc/banner-mt', { _, opt: opt.banners[i] }) %>
        <% } %>
      </div>
    </div>
  <% } %>
  
