<div class="newsletter-mt">
  <div class="content-form">
    <p>Cadastre-se em nossa newsletter para receber novidades e promoções.</p>
    <form action="https://mbiz.mailclick.me/subscribe.php" method="post" accept-charset="UTF-8">
      <div class="o-form-row">
        <input type="text" name="FormValue_Fields[EmailAddress]" value="" id="FormValue_EmailAddress" placeholder="E-mail" />
      </div>
      <input type="submit" name="FormButton_Subscribe" value="Cadastrar" id="FormButton_Subscribe" /><input type="hidden"
        name="FormValue_ListID" value="5014" />
      <input type="hidden" name="FormValue_Command" value="Subscriber.Add" id="FormValue_Command" />
    </form>
  </div>
</div>