@import '#template/scss/main';
@import 'custom-css/instafeed';
@import 'custom-css/whatsapp-widget';
@import 'custom-css/styles';
@import 'custom-css/instafeed';
@import 'custom-css/newsletter';
@import 'custom-css/mt-custom';
@import 'custom-css/banners/banner-triplo-home';
@import 'custom-css/banners//home/banner';
