@import '#template/scss/variables';
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&display=swap');
:root {
  --primary-color: #E26D03;
  --grey-c8: #C8C8C8;
  --grey-70: #707070;
  --white: #ffffff;
  --yellow: #FEAE0F;
  --pink-light: #FCF5F5;
  --font: 'Barlow', sans-serif;
  --max-width-full: 117rem;
}
