// Add your custom CSS here.

$font: Helvetica, sans-serif;
$footerColor: red;

/* Footer */
.info-bar {
    background: gray;
}

.footer__credits {
    display: flex;
    justify-content: space-around;
}

